@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/main.cshtml";
}
<script src="/Scripts/editor.js"></script>

<script type="text/javascript">
    var editor1;
    KindEditor.ready(function (K) {
        editor1 = K.create('#Content', {
            cssPath: '/Scripts/kindeditor-4.1.10-zh-CN/kindeditor-4.1.10/plugins/code/prettify.css',
            uploadJson: '/Scripts/kindeditor-4.1.10-zh-CN/kindeditor-4.1.10/asp.net/upload_json.ashx',
            fileManagerJson: '/Scripts/kindeditor-4.1.10-zh-CN/kindeditor-4.1.10/asp.net/file_manager_json.ashx',
            allowFileManager: true
        });
        prettyPrint();
    });
</script>
<div class="searchdiv">
    <fieldset>
        <legend>信息查询</legend>
        <form id="fmSearch" method="post">
            <input type="hidden" name="Type" value="@(ViewBag.Type)"/>
            <table>
                <tr>
                    <td style="width: 150px; text-align: right;">代码编号:</td>
                    <td style="width: 150px;">
                        <input type="text" name="CodeNumber" /></td>
                    <td style="width: 150px; text-align: right;">功能简述:</td>
                    <td style="width: 150px;">
                        <input type="text" name="FunctionDescription" /></td>
                    <td>
                        <a id="btnSearch" href="###" class="easyui-linkbutton"
                            data-options="iconCls:'icon-search'">&nbsp;&nbsp;查&nbsp;&nbsp;询&nbsp;&nbsp;
                        </a>
                    </td>
                </tr>
            </table>
        </form>
    </fieldset>
</div>
<table id="grid" style="width: 100%;" class="easyui-datagrid" data-options="
                title: '标题',
                iconCls: 'icon-view',
                nowrap: true,
                autoRowHeight: true,
                striped: true,
                collapsible: true,
                pagination: true,
                pageSize: 15,
                pageList: [10, 15, 20],
                rownumbers: true,
                singleSelect: true,
                sortOrder: 'asc',
                remoteSort: false">
    <thead>
        <tr>

            <th data-options="field: 'ID', align: 'center', hidden: true">主键</th>

            <th data-options="field: 'CodeNumber', align: 'center'">代码编号</th>

            <th data-options="field: 'FunctionDescription', align: 'center'">功能简述</th>

            <th data-options="field: 'ContentStr', align: 'center'">内容</th>

            <th data-options="field: 'Remark', align: 'center'">备注</th>

            <th data-options="field: 'GoodComment', align: 'center'">好评</th>

            <th data-options="field: 'BadComment', align: 'center'">差评</th>

            <th data-options="field: 'CommentCount', align: 'center'">评论数</th>

            <th data-options="field: 'AccessCount', align: 'center'">访问量</th>
        </tr>
    </thead>
</table>
<div style="text-align: center; width: 100%; color: red; display: none;" id="emptymsgdiv">没有查询到相关数据</div>
<!--------------------------添加/修改信息的弹出层---------------------------->
<div id="DivAdd" class="easyui-dialog" style="width: 1140px; height: 500px; padding: 10px 20px"
    closed="true" resizable="true" modal="true" data-options="iconCls: 'icon-edit',buttons: '#dlg-buttons'">
    <form id="fmDetail" method="post" novalidate enctype="multipart/form-data">
        <input type="hidden" name="Type" value="@(ViewBag.Type)"/>
        <input name="ID" type="hidden" value="" />
        <table>
            <tr>
                <td style="width: 150px; text-align: right;">代码编号:</td>
                <td style="width: 150px;">
                    <input type="text" class="easyui-validatebox" name="CodeNumber" required="required" />
                </td>
                <td style="width: 150px; text-align: right;">功能简述:</td>
                <td style="width: 150px;">
                    <input type="text" class="easyui-validatebox" name="FunctionDescription" required="required" />
                </td>
            </tr>
            <tr>
                <td style="width: 150px; text-align: right;">备注:</td>
                <td style="width: 150px;">
                    <input type="text" class="easyui-validatebox" name="Remark" />
                </td>
            </tr>
            <tr>
                <td style="width: 150px; text-align: right;">内容:</td>
                <td colspan="3">
                    <textarea id="Content" cols="100" rows="8" style="width: 1000px; height: 330px; visibility: hidden;"></textarea>

                </td>

            </tr>
        </table>
    </form>

    <div style="text-align: right; padding-top: 10px" id="DivAddToolBar">

        <a href="javascript:void(0)" class="easyui-linkbutton" id="btnAddOK" iconcls="icon-ok" onclick="SaveEntity()">确定</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript:$('#DivAdd').dialog('close')">关闭</a>
    </div>

</div>
<script type="text/javascript">
    //保存
    function SaveEntity() {
        $('#fmDetail').form('submit', {
            url: "/GCode/Save",
            onSubmit: function (param) {  //提交时触发
                param.Content = editor1.html();

                var flag = $(this).form('validate');    //是否通过验证 
                if (flag) {
                    $('#grid').datagrid("loading"); //如果通过验证让datagrid显示载入状态
                }
                return flag;
            },
            success: function (res) {
                if (res == "ok") {
                    $.messager.alert("操作提示", "保存成功！", "info");
                    $('#DivAdd').dialog('close');         //关闭弹出框
                    $('#fmDetail').form('clear');              //清除表单数据。
                    $('#btnSearch').click(); //重新加载数据
                }
                else {
                    $.messager.alert("操作提示", "保存失败！", "error");

                }
            }
        })
    }
    //删除
    function Delete() {

        $.messager.confirm("操作提示", "您确定删除这条数据吗？", function (data) {
            if (data) {
                var row = $('#grid').datagrid('getSelected'); //获取选中行
                if (!row) {                                       //没有选中行
                    $.messager.alert('提示', '请选择一行进行操作!', 'info');
                    return false;
                }
                $.ajax({
                    url: "/GCode/Delete",
                    type: "POST",
                    data: { "ID": row["ID"] },
                    success: function (res) {
                        if (res == "ok") {
                            $.messager.alert("操作提示", "操作成功！", "info");
                            $('#btnSearch').click();
                        }
                        else {
                            $.messager.alert("操作提示", "操作失败！", "error");
                            return false;
                        }
                    },
                    error: function (error) {
                        alert(JSON.stringify(error));
                    }
                })
            }
        });


    }
    //添加显示弹框
    function ShowAddDialog() {
        $('#fmDetail').form('load', {
            ID: '',
            CodeNumber: '',
            FunctionDescription: '',
            Content: '',
            Remark: '',
            GoodComment: '',
            BadComment: '',
            CommentCount: '',
            AccessCount: '',
        });
        editor1.html("");
        $('#DivAdd').dialog({
            title: '增加',
            iconCls: 'icon-add'
        }).dialog('open');
    }

    $(function () {
        //grid自适应外围宽度
        jQuery(window).resize(function () {
            jQuery('#grid').datagrid("resize");
        });

        //回车搜索
        jQuery("#fmSearch").bind("keydown", function (e) {
            var key = e.which;
            if (key == 13) {
                $('#btnSearch').click();
            }
        });

        function ShowEditOrViewDialog(view) {
            var row = $('#grid').datagrid('getSelected'); //获取选中行
            if (!row) {                                       //没有选中行
                $.messager.alert('提示', '请选择一行进行操作!', 'info');
                return false;
            }
            //取值赋值 
            $.ajax({
                url: "/GCode/Get_Details",
                type: "POST",
                dataType: "json",
                data: { "ID": row["ID"] },
                success: function (res) {
                    $('#fmDetail').form('load', {
                        ID: res.ID,
                        CodeNumber: res.CodeNumber,
                        FunctionDescription: res.FunctionDescription,
                        Content: res.Content,
                        Remark: res.Remark,
                        GoodComment: res.GoodComment,
                        BadComment: res.BadComment,
                        CommentCount: res.CommentCount,
                        AccessCount: res.AccessCount,
                    });
                    editor1.html(res.Content);
                    var title = "编辑";
                    var iconinfo = "icon-edit";
                    if (view != undefined) {
                        $("#DivAddToolBar").hide();
                        title = "查看信息";
                        iconinfo = "icon-search";
                    }
                    else {
                        $("#DivAddToolBar").show();
                        title = "修改信息";
                        iconinfo = "icon-edit";
                    }
                    $('#DivAdd').dialog({ iconCls: iconinfo, title: title }).dialog('open');

                },
                error: function (error) {
                    alert(JSON.stringify(error));
                }
            });
        }

        function InitGrid(queryData) {
            $("#grid").datagrid("uncheckAll").datagrid({
                url: '/GCode/Query',
                title: '@(ViewBag.Type.ToString() == "1" ? "G代码维护" : "M代码维护")',
                iconCls: 'icon-view',
                // height: 650,
                //width: function () { return document.body.clientWidth * 0.5; },
                nowrap: true,
                autoRowHeight: true,
                striped: true,
                collapsible: true,
                pagination: true,
                pageSize: 15,
                pageList: [10, 15, 20],
                rownumbers: true,
                singleSelect: true,
                sortOrder: 'asc',
                remoteSort: false,
                idField: 'ID',
                queryParams: queryData,  //异步查询的参数
                onLoadSuccess: function (data) {
                    if (data.total == 0) {
                        //添加一个新数据行，第一列的值为你需要的提示信息，然后将其他列合并到第一列来，注意修改colspan参数为你columns配置的总列数
                        //$(this).datagrid('appendRow', { Skt_Factory_Name: '<div style="text-align:center;color:red">没有查询到相关数据！</div>' }).datagrid('mergeCells', { index: 0, field: 'Skt_Factory_Name', colspan: 7 })
                        //隐藏分页导航条，这个需要熟悉datagrid的html结构，直接用jquery操作DOM对象，easyui datagrid没有提供相关方法隐藏导航条
                        $(this).closest('div.datagrid-wrap').find('div.datagrid-pager').hide();

                        $("#emptymsgdiv").show();
                    }
                        //如果通过调用reload方法重新加载数据有数据时显示出分页导航容器
                    else {
                        $(this).closest('div.datagrid-wrap').find('div.datagrid-pager').show();
                        $("#emptymsgdiv").hide();
                    }
                },
                toolbar: [
             {
                 id: 'btnAdd',
                 text: '添加',
                 iconCls: 'icon-add',
                 handler: function () {
                     ShowAddDialog();//实现添加记录的页面
                 }
             }, '-',
                 {
                     id: 'btnEdit',
                     text: '修改',
                     iconCls: 'icon-edit',
                     handler: function () {
                         ShowEditOrViewDialog();//实现修改记录的方法
                     }
                 },
                 '-', {
                     id: 'btnDelete',
                     text: '删除',
                     iconCls: 'icon-remove',
                     handler: function () {
                         Delete();//实现直接删除数据的方法
                     }
                 },
                 '-', {
                     id: 'btnView',
                     text: '查看',
                     iconCls: 'icon-search',
                     handler: function () {
                         ShowEditOrViewDialog("view");//实现查看记录详细信息的方法
                     }
                 }, '-', {
                     id: 'btnReload',
                     text: '刷新',
                     iconCls: 'icon-reload',
                     handler: function () {
                         //实现刷新栏目中的数据
                         $("#grid").datagrid("reload");
                     }
                 }],
                onDblClickRow: function (rowIndex, rowData) {
                    $('#grid').datagrid('uncheckAll');
                    $('#grid').datagrid('checkRow', rowIndex);
                    ShowEditOrViewDialog();
                }
            });
            var p = $('#grid').datagrid('getPager');
            (p).pagination({
                beforePageText: '第',//页数文本框前显示的汉字  
                afterPageText: '页    共 {pages} 页',
                displayMsg: '共{total}条数据',

            });
        }

        $('#btnSearch').click(function () {
            //得到用户输入的参数，取值有几种方式：$("#id").combobox('getValue'), $("#id").datebox('getValue'), $("#id").val()
            var queryData = {};
            var fields = $("#fmSearch").serializeArray();
            jQuery.each(fields, function (i, field) {
                queryData[field.name] = field.value;
            });

            InitGrid(queryData);
            return false;
        });

        $('#btnSearch').click();
    })
</script>






