@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/webmaster.cshtml";
}

<div class="main_box main_box_style">
    <div class="main_box_inner">


        <div style="width: 1100px; background: url(e/css/images/gg.jpg) no-repeat; height: 30px; margin: 0 auto;">
            <div style="margin-left: 138px; background: #D6D6D6; padding-left: 15px;">
                <div class="gonggao marquee" id="m_179_0">
                    <a class="prev"></a><a class="next"></a>
                    <div class="inner">
                        <ul style="height: 450px;">

                            <li class="zx"><a href="article/20120816/466.html" target="_self" title="栏目管理增加了批量设置和删除等便捷化功能...">栏目管理增加了批量设置和删除等便捷化功能...</a></li>

                            <li class="zx"><a href="article/20111103/465.html" target="_self" title="机柜配电解决方案">机柜配电解决方案</a></li>

                            <li class="zx"><a href="article/20111103/464.html" target="_self" title="机柜线缆管理解决方案">机柜线缆管理解决方案</a></li>

                            <li class="zx"><a href="article/20111103/463.html" target="_self" title="机柜散热解决方案">机柜散热解决方案</a></li>

                            <li class="zx"><a href="article/20111103/462.html" target="_self" title="增加字段参数设置、投稿限制和美化附件发布界面">增加字段参数设置、投稿限制和美化附件发布界面</a></li>



                            <li class="zx"><a href="article/20120816/466.html" target="_self" title="栏目管理增加了批量设置和删除等便捷化功能...">栏目管理增加了批量设置和删除等便捷化功能...</a></li>

                            <li class="zx"><a href="article/20111103/465.html" target="_self" title="机柜配电解决方案">机柜配电解决方案</a></li>

                            <li class="zx"><a href="article/20111103/464.html" target="_self" title="机柜线缆管理解决方案">机柜线缆管理解决方案</a></li>

                            <li class="zx"><a href="article/20111103/463.html" target="_self" title="机柜散热解决方案">机柜散热解决方案</a></li>

                            <li class="zx"><a href="article/20111103/462.html" target="_self" title="增加字段参数设置、投稿限制和美化附件发布界面">增加字段参数设置、投稿限制和美化附件发布界面</a></li>



                            <li class="zx"><a href="article/20120816/466.html" target="_self" title="栏目管理增加了批量设置和删除等便捷化功能...">栏目管理增加了批量设置和删除等便捷化功能...</a></li>

                            <li class="zx"><a href="article/20111103/465.html" target="_self" title="机柜配电解决方案">机柜配电解决方案</a></li>

                            <li class="zx"><a href="article/20111103/464.html" target="_self" title="机柜线缆管理解决方案">机柜线缆管理解决方案</a></li>

                            <li class="zx"><a href="article/20111103/463.html" target="_self" title="机柜散热解决方案">机柜散热解决方案</a></li>

                            <li class="zx"><a href="article/20111103/462.html" target="_self" title="增加字段参数设置、投稿限制和美化附件发布界面">增加字段参数设置、投稿限制和美化附件发布界面</a></li>

                        </ul>
                    </div>

                </div>
                <script type="text/javascript">
                    marquee("m_179_0", "up", 1500);
                </script>
            </div>
        </div>






        <div class="tj_pro">
            <div style="background: url(e/css/images/tjcp_1.jpg) repeat-x; display: block; width: 400px; height: 32px; float: left"></div>
            <div class="cptj_1"><b>推 荐 产 品</b><span style="width: 175px; display: block; font-size: 12px;">RECOMMENDED PRODUCTS</span></div>
            <div style="background: url(e/css/images/tjcp_1.jpg) repeat-x; display: block; width: 400px; height: 32px; float: left"></div>
        </div>
        <div class="tj_con">
            <ul>
                <li class="tj_con_1"><a href="#">工业机械</a></li>
                <li class="tj_con_2"><a href="#">工业机床</a></li>
                <li class="tj_con_3"><a href="#">工业工具</a></li>
                <li class="tj_con_4"><a href="#">工业五金</a></li>
            </ul>
        </div>





        <div class="sy_con_1">
            <div class="title">
                <img src="e/css/images/sy_1.png"><span>About us</span>关于我们
            </div>
            <div class="mero">
                <a href="#">More+</a>
            </div>
        </div>
        <div style="clear: both; overflow: hidden; width: 1100px; margin: 0 auto; margin-top: 30px;">
            <img src="e/css/images/ab.jpg" style="float: left;">
            <div style="background: url(e/css/images/ab_2.png) no-repeat; float: right; width: 700px; height: 180px; padding: 10px 10px 10px 10px; color: white; font-family: 'Microsoft YaHei'; text-align: left;">
                PageAdmin特点<br>
                &nbsp;&nbsp;&nbsp; 1、简单易用、强大灵活：以前开发一个网站只能找网络公司， 做出的网站管理后台功能简单，导致后期维护、修改和扩展困难，甚至只能付费让制作公司维护，PageAdmin强大的功能、易用性、灵活扩展性完美的解决 了这些问题。因为系统经过多年发展，其间综合了大量用户的切身使用体验，大大小小经过上百次的升级更新，在操作上不断追求人性化，功能上在也日趋完善，其 中的自定义表单+自定义模型功能更是让用户可以轻松开发出自己的个性化功能。<br>
                &nbsp;&nbsp;&nbsp; 2、高负载功能：一个网站负载功能在网站访问量或内容量巨大时至关重要，pageadmin通过生成静态化和数据库连接优化两个方面来提高网站的负载能力。<br>
            </div>
        </div>





        <div class="sy_con_2">
            <div class="title">
                <img src="e/css/images/sy_2.png"><span>News</span>新闻动态
            </div>
        </div>

        <div class="xw_con">

            <div class="xw_1">
                <div class="xw_4">专题报道<span><a href="#">More+</a></span></div>
                <div class="xw_t">
                    <img src="e/css/images/xw_1_1.jpg"></div>
                <div>
                    <div class="article">
                        <ul>

                            <li><span class="title">
                                <a href="#" target="_self" title="A股遭遇深度调整 本周10金股逆市大涨（5）" style="">A股遭遇深度调整 本周10金股逆市大涨（5）</a></span>
                                <span class="date">07-04</span>
                                <span class="clear"></span>
                            </li>

                            <li><span class="title">
                                <a href="#" target="_self" title="A股遭遇深度调整 本周10金股逆市大涨（4）" style="">A股遭遇深度调整 本周10金股逆市大涨（4）</a></span>
                                <span class="date">07-04</span>
                                <span class="clear"></span>
                            </li>

                            <li><span class="title">
                                <a href="#" target="_self" title="A股遭遇深度调整 本周10金股逆市大涨（3）" style="">A股遭遇深度调整 本周10金股逆市大涨（3）</a></span>
                                <span class="date">07-04</span>
                                <span class="clear"></span>
                            </li>

                            <li><span class="title">
                                <a href="#" target="_self" title="A股遭遇深度调整 本周10金股逆市大涨（2）" style="">A股遭遇深度调整 本周10金股逆市大涨（2）</a></span>
                                <span class="date">07-04</span>
                                <span class="clear"></span>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

            <div class="xw_2">
                <div class="xw_4">公司新闻<span><a href="#">More+</a></span></div>
                <div>
                    <div class="article">
                        <ul>

                            <li><span class="title">
                                <a href="#" target="_self" title="中国机械公司机械加工工艺内容8" style="">中国机械公司机械加工工艺内容8</a></span>
                                <span class="date">06-24</span>
                                <span class="clear"></span>
                            </li>

                            <li><span class="title">
                                <a href="#" target="_self" title="中国机械公司机械加工工艺内容" style="">中国机械公司机械加工工艺内容</a></span>
                                <span class="date">06-24</span>
                                <span class="clear"></span>
                            </li>

                            <li><span class="title">
                                <a href="#" target="_self" title="中国机械公司机械加工工艺内容7" style="">中国机械公司机械加工工艺内容7</a></span>
                                <span class="date">06-24</span>
                                <span class="clear"></span>
                            </li>

                            <li><span class="title">
                                <a href="#" target="_self" title="中国机械公司机械加工工艺内容2" style="">中国机械公司机械加工工艺内容2</a></span>
                                <span class="date">06-24</span>
                                <span class="clear"></span>
                            </li>

                            <li><span class="title">
                                <a href="#" target="_self" title="中国机械公司机械加工工艺内容3" style="">中国机械公司机械加工工艺内容3</a></span>
                                <span class="date">06-24</span>
                                <span class="clear"></span>
                            </li>

                            <li><span class="title">
                                <a href="#" target="_self" title="中国机械公司机械加工工艺内容4" style="">中国机械公司机械加工工艺内容4</a></span>
                                <span class="date">06-24</span>
                                <span class="clear"></span>
                            </li>

                            <li><span class="title">
                                <a href="#" target="_self" title="中国机械公司机械加工工艺内容5" style="">中国机械公司机械加工工艺内容5</a></span>
                                <span class="date">06-24</span>
                                <span class="clear"></span>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

            <div class="xw_3">
                <div class="xw_4">行业新闻<span><a href="#">More+</a></span></div>
                <div>
                    <div class="article">
                        <ul>

                            <li><span class="title">
                                <a href="#" target="_self" title="中国机械公司机械加工工艺内容1" style="">中国机械公司机械加工工艺内容1</a></span>
                                <span class="date">06-24</span>
                                <span class="clear"></span>
                            </li>

                            <li><span class="title">
                                <a href="#" target="_self" title="中国机械公司机械加工工艺内容2" style="">中国机械公司机械加工工艺内容2</a></span>
                                <span class="date">06-24</span>
                                <span class="clear"></span>
                            </li>

                            <li><span class="title">
                                <a href="#" target="_self" title="中国机械公司机械加工工艺内容3" style="">中国机械公司机械加工工艺内容3</a></span>
                                <span class="date">06-24</span>
                                <span class="clear"></span>
                            </li>

                            <li><span class="title">
                                <a href="#" target="_self" title="中国机械公司机械加工工艺内容4" style="">中国机械公司机械加工工艺内容4</a></span>
                                <span class="date">06-24</span>
                                <span class="clear"></span>
                            </li>

                            <li><span class="title">
                                <a href="#" target="_self" title="中国机械公司机械加工工艺内容5" style="">中国机械公司机械加工工艺内容5</a></span>
                                <span class="date">06-24</span>
                                <span class="clear"></span>
                            </li>

                            <li><span class="title">
                                <a href="#" target="_self" title="中国机械公司机械加工工艺内容6" style="">中国机械公司机械加工工艺内容6</a></span>
                                <span class="date">06-24</span>
                                <span class="clear"></span>
                            </li>

                            <li><span class="title">
                                <a href="#" target="_self" title="中国机械公司机械加工工艺内容7" style="">中国机械公司机械加工工艺内容7</a></span>
                                <span class="date">06-24</span>
                                <span class="clear"></span>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

        </div>






        <div class="sy_con_1">
            <div class="title">
                <img src="e/css/images/sy_3.png"><span>Product</span>产品中心
            </div>
            <div class="mero">
                <a href="#">More+</a>
            </div>
        </div>
        <div class="cp_con">
            <ul class="product_pic">

                <li style="width: 185px; height: 275px;">
                    <a href="#" target="_self">
                        <img src="e/upload/s1/product/image/2015/06/tpic_t_24161359.jpg" border="0" style="width: 185px; height: 275px;"></a>
                    <span class="title">
                        <a href="#" target="_self" title="HL-193">HL-193</a></span>
                </li>

                <li style="width: 185px; height: 275px;">
                    <a href="#" target="_self">
                        <img src="e/upload/s1/product/image/2015/06/tpic_t_24161304.jpg" border="0" style="width: 185px; height: 275px;"></a>
                    <span class="title">
                        <a href="#" target="_self" title="HL-193">HL-193</a></span>
                </li>

                <li style="width: 185px; height: 275px;">
                    <a href="#" target="_self">
                        <img src="e/upload/s1/product/image/2015/06/tpic_t_24161225.jpg" border="0" style="width: 185px; height: 275px;"></a>
                    <span class="title">
                        <a href="#" target="_self" title="HL-193">HL-193</a></span>
                </li>

                <li style="width: 185px; height: 275px;">
                    <a href="#" target="_self">
                        <img src="e/upload/s1/product/image/2015/06/tpic_t_24161143.jpg" border="0" style="width: 185px; height: 275px;"></a>
                    <span class="title">
                        <a href="#" target="_self" title="HL-193">HL-193</a></span>
                </li>

                <li style="width: 185px; height: 275px;">
                    <a href="#" target="_self">
                        <img src="e/upload/s1/product/image/2015/06/tpic_t_24161103.jpg" border="0" style="width: 185px; height: 275px;"></a>
                    <span class="title">
                        <a href="#" target="_self" title="HL-193">HL-193</a></span>
                </li>

            </ul>

        </div>






        <div class="sy_con_2">
            <div class="title">
                <img src="e/css/images/sy_4.png"><span>Quick links</span>快捷链接
            </div>
        </div>
        <div class="kj">
            <div class="kj_1">

                <div class="kj_1_1"><a href="index.aspx?lanmuid=62&amp;sublanmuid=564">关于我们<span>About us</span></a></div>
                <div class="kj_1_2"><a href="index.aspx?lanmuid=64&amp;sublanmuid=538">资料下载<span>Data download</span></a></div>
                <div class="kj_1_3"><a href="index.aspx?lanmuid=67&amp;sublanmuid=650">产品中心<span>Product center</span></a></div>
                <div class="kj_1_4"><a href="index.aspx?lanmuid=65&amp;sublanmuid=534">联系我们<span>Contact us</span></a></div>

            </div>
            <div class="kj_2">
                <script type="text/javascript" src="e/js/zdyform.js"></script>
                <form action="e/aspx/post.aspx" method="post" enctype="multipart/form-data" name="feedback">
                    <div>
                        <ul>
                            <li class="ly_1">您的姓名</li>
                            <li>
                                <input class="f_tb" id="pa_truename" maxlength="30" size="10" name="pa_truename" type="text" style="width: 450px; height: 30px; border: 1px #C2D1D7 solid; border-radius: 3px;"></li>
                            <li class="ly_2">联系方式</li>
                            <li>
                                <input class="f_tb" id="pa_tel" maxlength="30" size="12" name="pa_tel" type="text" style="width: 450px; height: 30px; border: 1px #C2D1D7 solid; border-radius: 3px;"></li>



                            <li class="ly_3">所需产品型号及说明</li>
                            <li>
                                <textarea id="content" name="content" rows="5" cols="70" class="f_tb" style="width: 450px; border: 1px #C2D1D7 solid; border-radius: 3px;"></textarea></li>

                            <li style="float: left; width: 80px; height: 25px; line-height: 25px; color: #5A5A5A; font-weight: bold; font-size: 14px;">验证码：</li>
                            <li style="float: left">
                                <input class="f_tb" id="vcode" maxlength="4" size="4" name="vcode" type="text" style="width: 80px; border: 1px #C2D1D7 solid; border-radius: 3px; height: 25px"></li>
                            <li style="clear: both; font-size: 1px; line-height: 0px; height: 2px">&nbsp;</li>
                            <li style="clear: both; padding: 5px 0 5px 0px">
                                <input class="ok" type="button" onclick="return set_feedback()" value=" 提交 ">
                            </li>
                        </ul>
                    </div>
                    <input type="hidden" name="title" value="0">
                    <input type="hidden" name="checked" value="0"><input type="hidden" name="showcode" value="0"><input type="hidden" name="to" value=""><input type="hidden" name="mailto" value=""><input type="hidden" name="mailreply" value=""><input type="hidden" name="mailsubject" value=""><input type="hidden" name="mailbody" value=""><input type="hidden" name="insertdatabase" value="1"><input type="hidden" name="siteid" value="1"><input type="hidden" name="formtable" value="feedback"><input type="hidden" name="mustname" value="你的姓名,联系方式,所需产品型号及说明,"><input type="hidden" name="mustfield" value="pa_truename,pa_tel,content,"><input type="hidden" name="musttype" value="text,text,textarea,">
                </form>
                <script type="text/javascript">
                    function set_feedback() {
                        document.forms["feedback"].title.value = document.forms["feedback"].pa_truename.value + "的在线留言";
                        document.forms["feedback"].mailto.value = "";
                        document.forms["feedback"].mailreply.value = "";
                        document.forms["feedback"].mailsubject.value = "";
                        document.forms["feedback"].mailbody.value = "";
                        return Check_ZdyForm("feedback");
                    }

                    function feedback_zdycheck() {
                        return true;
                    }
                </script>

            </div>
            <div class="kj_3">
                <div class="kj_3_1">
                    <img src="e/css/images/sy_lx.jpg"></div>
                <div class="kj_3_2">
                    <ul>
                        <li class="a">中国某某某机械有限公司</li>
                        <li class="b">4008-123-1X3</li>
                        <li class="c">021-1234567X</li>
                        <li class="d">xxxxx@xxxxx.com</li>
                        <li class="e">XX市XXX区XXX路123号XXX大厦</li>
                    </ul>
                </div>
            </div>

        </div>





    </div>
    <div class="clear main_box_inner_bottom"></div>
</div>
