@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/webleftmaster.cshtml";
}

<div class="main_box_inner_right">
    <div class="current_location current_location_647">
        <ul>
            <li class="current_location_1">当前位置：<a href="/">首页</a> &gt; <a href="../news/" class="cl_1">新闻资讯</a> &gt; <a href="#">专题报道</a></li>
            <li class="current_location_2">专题报道</li>
        </ul>
    </div>
    <div class="sublanmu_box sublanmu_box_647">
        <div class="sublanmu_content sublanmu_content_article">
            <ul class="article">

                <li><span class="title">
                    <a href="#" target="_self" title="A股遭遇深度调整 本周10金股逆市大涨（5）" style="">A股遭遇深度调整 本周10金股逆市大涨（5）</a></span>
                    <span class="date">2015-07-04</span>
                    <span class="clear"></span>
                </li>

                <li><span class="title">
                    <a href="#" target="_self" title="A股遭遇深度调整 本周10金股逆市大涨（4）" style="">A股遭遇深度调整 本周10金股逆市大涨（4）</a></span>
                    <span class="date">2015-07-04</span>
                    <span class="clear"></span>
                </li>

                <li><span class="title">
                    <a href="#" target="_self" title="A股遭遇深度调整 本周10金股逆市大涨（3）" style="">A股遭遇深度调整 本周10金股逆市大涨（3）</a></span>
                    <span class="date">2015-07-04</span>
                    <span class="clear"></span>
                </li>

                <li><span class="title">
                    <a href="#" target="_self" title="A股遭遇深度调整 本周10金股逆市大涨（2）" style="">A股遭遇深度调整 本周10金股逆市大涨（2）</a></span>
                    <span class="date">2015-07-04</span>
                    <span class="clear"></span>
                </li>

                <li><span class="title">
                    <a href="#" target="_self" title="A股遭遇深度调整 本周10金股逆市大涨（1）" style="">A股遭遇深度调整 本周10金股逆市大涨（1）</a></span>
                    <span class="date">2015-07-04</span>
                    <span class="clear"></span>
                </li>

                <li><span class="title">
                    <a href="#" target="_self" title="中国机械公司机械加工工艺内容1" style="">中国机械公司机械加工工艺内容1</a></span>
                    <span class="date">2015-06-24</span>
                    <span class="clear"></span>
                </li>

                <li><span class="title">
                    <a href="#" target="_self" title="中国机械公司机械加工工艺内容2" style="">中国机械公司机械加工工艺内容2</a></span>
                    <span class="date">2015-06-24</span>
                    <span class="clear"></span>
                </li>

                <li><span class="title">
                    <a href="#" target="_self" title="中国机械公司机械加工工艺内容3" style="">中国机械公司机械加工工艺内容3</a></span>
                    <span class="date">2015-06-24</span>
                    <span class="clear"></span>
                </li>

                <li><span class="title">
                    <a href="#" target="_self" title="中国机械公司机械加工工艺内容4" style="">中国机械公司机械加工工艺内容4</a></span>
                    <span class="date">2015-06-24</span>
                    <span class="clear"></span>
                </li>

                <li><span class="title">
                    <a href="#" target="_self" title="中国机械公司机械加工工艺内容5" style="">中国机械公司机械加工工艺内容5</a></span>
                    <span class="date">2015-06-24</span>
                    <span class="clear"></span>
                </li>

                <li><span class="title">
                    <a href="#" target="_self" title="中国机械公司机械加工工艺内容6" style="">中国机械公司机械加工工艺内容6</a></span>
                    <span class="date">2015-06-24</span>
                    <span class="clear"></span>
                </li>

                <li><span class="title">
                    <a href="#" target="_self" title="中国机械公司机械加工工艺内容7" style="">中国机械公司机械加工工艺内容7</a></span>
                    <span class="date">2015-06-24</span>
                    <span class="clear"></span>
                </li>

                <li><span class="title">
                    <a href="#" target="_self" title="中国机械公司机械加工工艺内容8" style="">中国机械公司机械加工工艺内容8</a></span>
                    <span class="date">2015-06-24</span>
                    <span class="clear"></span>
                </li>

                <li><span class="title">
                    <a href="#" target="_self" title="中国机械公司机械加工工艺内容9" style="">中国机械公司机械加工工艺内容9</a></span>
                    <span class="date">2015-06-24</span>
                    <span class="clear"></span>
                </li>

                <li><span class="title">
                    <a href="#" target="_self" title="中国机械公司机械加工工艺内容9" style="">中国机械公司机械加工工艺内容9</a></span>
                    <span class="date">2015-06-24</span>
                    <span class="clear"></span>
                </li>

            </ul>
            <div class="sublanmu_page"><span class="firstpage">首页</span> <span class="c">1</span> <a href="../news/ztbd/2.html">2</a> <a href="../news/ztbd/2.html" class="nextpage">下一页</a> <a href="../news/ztbd/2.html" class="lastpage">尾页</a> <span class="pageinfo">页次：1/2 共16条记录</span></div>
        </div>
    </div>
</div>
